@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
body {
  font-family: "Bruno Ace SC", sans-serif;
  color: #FFFFFF;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

h1 {
  font-size: 128px;
  line-height: 1.5;
}

.h2 {
  font-size: 64px;
  line-height: 1.5;
}

.h3 {
  font-size: 40px;
  line-height: 1.5;
}

.fs-1 {
  font-size: 32px;
  line-height: 1.5;
}

.fs-2 {
  font-size: 24px;
  line-height: 1.5;
}

.fs-3 {
  font-size: 20px;
  line-height: 1.5;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #FFFFFF;
}

.font-color-1 {
  color: #D1D1D1;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.p-block-160 {
  padding-block: 160px;
}

header {
  padding-block: 40px;
}

header ul {
  font-size: 16px;
  line-height: 1.5;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-1 .landing-area {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 72px 32px;
}
.section-1 .landing-area h1 {
  color: #00FFA3;
  text-align: end;
}
.section-1 .landing-area .btn-area {
  text-align: end;
}
.section-1 .landing-area .contact-btn {
  border-radius: 32px;
  padding: 12px 0;
  width: 185px;
  border: none;
  display: inline-block;
}
.section-1 .landing-area .contact-btn p {
  font-family: "Bruno Ace SC", sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 1.5;
  margin-right: 4px;
  display: inline;
}

.section-2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
  background-size: cover;
  padding-block: 160px;
}
.section-2 .introduction {
  max-width: 41.6666666667%;
  padding-bottom: 158px;
  padding-right: 24px;
}
.section-2 .introduction .h2 {
  margin-bottom: 36px;
}
.section-2 .introduction .fs-2 {
  margin-bottom: 32px;
}
.section-2 .introduction .img-lights {
  width: 128px;
}
.section-2 .introduction .img-groups {
  max-width: 58.3333333333%;
}
.section-2 .introduction .img-groups .img-1,
.section-2 .introduction .img-groups .img-2 {
  max-width: 28.5714285714%;
}
.section-2 .introduction .img-groups .img-3 {
  max-width: 42.8571428571%;
}

.section-3 {
  color: #15161D;
}
.section-3 .skills-box {
  padding-top: 46px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 58.3333333333%;
  margin-right: 110px;
}
.section-3 .skills-box .skill {
  max-width: calc(50% - 24px);
}
.section-3 .about {
  max-width: 41.6666666667%;
}
.section-3 .about p:nth-child(1) {
  margin-bottom: 36px;
}

.section-4 {
  background: -webkit-gradient(linear, left top, left bottom, from(#050014), to(rgba(1, 2, 30, 0.8901960784)));
  background: linear-gradient(#050014, rgba(1, 2, 30, 0.8901960784));
}
.section-4 .container {
  padding-block: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.section-4 .h2 {
  padding-block: 31px;
  text-align: center;
}