// utils
.container {
  max-width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #FFFFFF;
}

.font-color-1 {
  color: #D1D1D1;
}

.pr-16 {
  padding-right: 16px;
}

// .pr-24 {
//   padding-right: 24px;
// }

.mr-16 {
  margin-right: 16px;
}

.mr-24 {
  margin-right: 24px;
}

.p-block-160 {
  padding-block: 160px;
}