// utils
.container {
  max-width: 1296px;
  margin: 0 auto;
}

.d-flex {
  display: flex;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #FFFFFF;
}

.font-color-1 {
  color: #D1D1D1;
}

.pr-16 {
  padding-right: 16px;
}

.pr-24 {
  padding-right: 24px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

.p-block-160 {
  padding-block: 160px;
}

// .btn-style {
//   border-radius: 32px;
//   padding: 12px 0;
//   width: 185px;
//   border: none;
//   justify-content: center;
//   align-items: center;


//   p {
//     font-family: "Bruno Ace SC", sans-serif;
//     color: #000000;
//     font-size: 16px;
//     line-height: 1.5;
//     margin-right: 4px;
//     display: inline;
//   }
// }