@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
// layout
@import "./layout.scss";
// utils
@import "./utils.scss";

// pages
header {
  padding-block: 40px;
}

header ul {
  font-size: 16px;
  line-height: 1.5;
  justify-content: space-between;
  align-items: center;
}

.section-1 .landing-area {
  justify-content: center;
  align-items: center;
  padding-block: 72px 32px;

  // p {
  //   font-size: 64px;
  //   line-height: 1.5;
  // }

  h1 {
    color: #00FFA3;
    text-align: end;
  }

  .btn-area {
    text-align: end; // 讓 btn-area 靠右
  }

  // .dialogs {
  //   padding-block: 160px;
  // }

  .contact-btn {
    border-radius: 32px;
    padding: 12px 0;
    width: 185px;
    border: none;
    display: inline-block; // // 讓 btn-area 靠右

    p {
      font-family: "Bruno Ace SC", sans-serif;
      color: #000000;
      font-size: 16px;
      line-height: 1.5;
      margin-right: 4px;
      display: inline;
    }
  }
}

.section-2 {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2023week2/background-img.png?raw=true");
  background-size: cover;
  padding-block: 160px; // Y 軸的 padding

  .introduction {
    max-width: calc(5 / 12 * 100%);
    // 526+24/1296 = 42.44%
    // max-width: 42.44%;
    padding-bottom: 158px;
    padding-right: 24px;

    .h2 {
      margin-bottom: 36px;
    }

    .fs-2 {
      margin-bottom: 32px;
    }

    .img-lights {
      width: 128px;
    }

    // 746/1296 = 57.56%
    .img-groups {
      max-width: calc(7 / 12 * 100%);
      // 等同
      // max-width: calc(746 / 1296 * 100%);
      // max-width: 57.56%;
      // max-width: calc(746 / 1296);

      // 為什麼沒在 layout 設 img { max-width: 100% } 時，.img-3 會往右側凸出?
      // kata 設 img { max-width: 100% } 時反而圖片越來越小?
      .img-1,
      .img-2 {
        max-width: calc(2 / 7 * 100%);
      }

      .img-3 {
        max-width: calc(3 / 7 * 100%);
      }

      // 196+196+306 = 698
      // 698+24+24 = 746
      // div:nth-child(1),
      // div:nth-child(2) {
      // max-width: calc(2 / 7 * 100%);
      // 等同
      // max-width: 196px;
      // max-width: calc(196 / 746 * 100%);
      // max-width: 26.27%;
      // }

      // div:nth-child(3) {
      // max-width: calc(3 / 7 * 100%);
      // 等同
      // max-width: 306px;
      // max-width: calc(306 / 746 * 100%);
      // max-width: 41.02%;
      // }
    }
  }
}

.section-3 {
  color: #15161D;

  .skills-box {
    padding-top: 46px;
    flex-wrap: wrap;
    max-width: calc(7 / 12 * 100%);
    // max-width: calc(636 / 1296 * 100%);
    margin-right: 110px;

    .skill {
      max-width: calc(50% - 24px);
    }
  }

  .about {
    max-width: calc(5 / 12 * 100%);
    // max-width: calc(526 / 1296 * 100%);

    // 或用 .h2 也可
    p:nth-child(1) {
      margin-bottom: 36px;
    }
  }
}